<IfModule mod_rewrite.c>
RewriteEngine on

#WordCamp Brisbane '15
RewriteRule ^wcbne/400ms/?$ http://peterwilson.cc/~/2671/ [NC,R=301,L]
RewriteRule ^wcbne/pagespeed/?$ https://developers.google.com/speed/pagespeed/insights/ [NC,R=301,L]
RewriteRule ^wcbne/thesslquestion/?$ http://www.webpagetest.org/video/compare.php?tests=150416_H0_8D2-r-l:No+SSL,150416_GE_1QQ-r:1-c:0-l:SSL [NC,R=301,L]
RewriteRule ^wcbne/asyncjs/?$ http://peterwilson.cc/code-samples/async-javascript-wordpress-filter/ [NC,R=301,L]
RewriteRule ^wcbne/jqueryfooter/?$ http://peterwilson.cc/code-samples/load-jquery-in-the-wordpress-footer/ [NC,R=301,L]
RewriteRule ^wcbne/loadcss/?$ https://github.com/filamentgroup/loadCSS [NC,R=301,L]
RewriteRule ^wcbne/inlinecss/?$ http://peterwilson.cc/code-samples/inline-css-on-first-load-of-a-wordpress-site/ [NC,R=301,L]
RewriteRule ^wcbne/fbcss/?$ http://peterwilson.cc/code-samples/a-css-only-facebook-button/ [NC,R=301,L]
RewriteRule ^wcbne/?$ http://peterwilson.cc/wcbne15/ [NC,R=301,L]

#Be Responsive March 2016.
RewriteRule ^brmelb/loadcss/?$ https://github.com/filamentgroup/loadCSS [NC,R=301,L]

#Respond 16
RewriteRule ^respond/slides/?$ https://speakerdeck.com/peterwilsoncc/web-directions-respond-performance-http2-in-a-1-dot-5-world [NC,R=301,L]
RewriteRule ^respond/wait/?$ https://www.youtube.com/watch?v=D6brqiMUdno [NC,R=301,L]
RewriteRule ^respond/loadcss/?$ https://github.com/filamentgroup/loadCSS [NC,R=301,L]
RewriteRule ^respond/fout/?$ https://github.com/bramstein/fontfaceobserver [NC,R=301,L]
RewriteRule ^respond/1.6billion/?$ http://www.fastcompany.com/1825005/how-one-second-could-cost-amazon-16-billion-sales [NC,R=301,L]
RewriteRule ^respond/amazon/?$ https://sites.google.com/site/glinden/Home/StanfordDataMining.2006-11-28.ppt [NC,R=301,L]
RewriteRule ^respond/blocking/?$ http://www.webpagetest.org/video/compare.php?tests=160313_QY_VYC-r-l:Blocked,160313_KV_VCY-r:1-c:0-l:Unblocked [NC,R=301,L]

# WordCamp Europe '16

RewriteRule ^wceu/blocking/?$ http://www.webpagetest.org/video/compare.php?tests=160313_QY_VYC-r-l:Blocked,160313_KV_VCY-r:1-c:0-l:Unblocked [NC,R=301,L]
RewriteRule ^wceu/jqueryfooter/?$ http://peterwilson.cc/code-samples/load-jquery-in-the-wordpress-footer/ [NC,R=301,L]
RewriteRule ^wceu/asyncjs/?$ http://peterwilson.cc/code-samples/async-javascript-wordpress-filter/ [NC,R=301,L]
RewriteRule ^wceu/loadcss/?$ https://github.com/filamentgroup/loadCSS [NC,R=301,L]
RewriteRule ^wceu/rapidcss/?$ https://peterwilson.cc/code-samples/http2-server-push-http1-compatible-inline-css/ [NC,R=301,L]


# I use this all the time
RewriteRule ^admin/?$ https://peterwilson.cc/wp/wp-admin/ [NC,R=301,L]

# General redirect
RewriteRule ^(.*)$ http://peterwilson.cc/$1 [R=301,L]
</IfModule>
